<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загадайте число | Экстрасенсы</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="flex flex-col w-full h-screen bg-gray-100 p-8 space-y-6 overflow-y-auto">
        <div class="flex justify-center items-cetner text-3xl font-semibold">Загадайте число и нажмите кнопку</div>
        <div class="flex justify-center items-cetner space-x-2 font-medium text-gray-800 text-2xl">
            <div>Я загадывал:</div>
            <div class="flex space-x-2">
                {% for i in my_numbers %}
                <span class="font-bold">{{forloop.counter}}.</span>
                <span class="text-green-600 font-semibold">{{ i }}</span>
                {% endfor %}
            </div>
        </div>
        <form class="flex justify-center items-cetner" method="POST">
            {% csrf_token %}
            <button class="
            text-2xl p-4 rounded font-semibold
            bg-gray-300 hover:bg-green-500 duration-300
            hover:text-white transition-all" type="submit">Загадал!</button>
        </form>
        {% for ex in extrasenses %}
        <div class="flex flex-col w-full text-xl bg-gray-200 p-6 rounded-2xl">
            <div class="font-medium">🔮 Экстрасенс #{{ forloop.counter }}</div>
            <div class="flex space-x-4">
                <span>Рейтинг:</span><span>{{ ex.rating }}</span>
            </div>
            <div class="flex space-x-4">
                <span>Предвидел числа:</span>
                <span>
                    {% for num in ex.numbers %}
                    <span class="font-bold">{{forloop.counter}}.</span>
                    <span class="text-purple-600 font-semibold">{{ num }}</span>
                    {% endfor %}
                </span>
            </div>                
        </div>
        {% endfor %}
    </div>
</body>
</html>