<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Экстрасенсы</title>
</head>
<body>
    <div class="flex flex-col justify-center items-center space-y-8">
        <h1 class="text-3xl">Введите число, которое вы загадали</h1>
        <form method="POST" class="w-1/2 flex items-center justify-center space-x-8">
            {% csrf_token %}
            <input class="w-1/2 font-bold p-4 border-2" type="number" name="my_number" min="9" max="99" placeholder="Введите число">
            <button class="w-1/2 cursor-pointer text-2xl bg-green-500 hover:bg-green-600 text-white font-bold p-4 rounded-xl" type="submit" name="entered">Загадал это число</button>
        </form>

        <div class="flex items-cetner space-x-8">
            <div class="flex flex-col justify-center">
                <h2 class="font-semibold text-2xl underline">🔮 Первый экстрасенс:</h2>
                <div class="flex space-x-4 text-lg">
                    <span>Его ответы:</span>
                    <span>
                        {% for n in ex1_nums %}
                        <span class="font-bold">{{forloop.counter}}: </span>
                        <span class="text-blue-500 font-semibold">{{n}}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="flex space-x-4 text-lg">
                    <span>Его рейтинг:</span>
                    <span class="font-bold text-green-600">{{ ex1_rating }}</span>
                </div>               
            </div>

            <div class="flex flex-col justify-center">
                <h2 class="font-semibold text-2xl underline">🔮 Второй экстрасенс:</h2>
                <div class="flex space-x-4 text-lg">
                    <span>Его ответы:</span>
                    <span>
                        {% for n in ex2_nums %}
                        <span class="font-bold">{{forloop.counter}}: </span>
                        <span class="text-blue-500 font-semibold">{{n}}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="flex space-x-4 text-lg">
                    <span>Его рейтинг:</span>
                    <span class="font-bold text-green-600">{{ ex2_rating }}</span>
                </div>               
            </div>
        </div>
        <div class="flex justify-center items-center space-x-6 text-lg">
            <h2 class="font-semibold text-2xl underline">Я загадывал:</h2>
            <span class="font-bold">
                {% for n in mynums %}
                <span class="font-bold">{{forloop.counter}}:</span>
                <span class="text-blue-500 font-semibold">{{n}}</span>
                {% endfor %}
            </span>
        </div>
    </div>

</body>
</html>